@model Proyecto_final.Models.Cuenta
<link rel="stylesheet" href="~/css/Diseño.css" />
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CuentaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
